.content {
    display: flex;

}

.navbar {
    display: flex;
    margin: 5px;
}

.sidebar {
    display: flex;
    margin: 5px;

}

.main {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.week {
    display: flex;
    margin: 5px;
}

#search {

    margin: 5px;
}